absl-py==0.15.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.2
Babel==2.11.0
backcall==0.2.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
bleach==4.1.0
boto3==1.23.10
botocore==1.26.10
cached-property==1.5.2
cachetools==4.1.0
certifi==2021.5.30
cffi==1.15.1
chardet==3.0.4
click==8.0.4
colorama==0.4.4
contextvars==2.4
cryptography==39.0.0
cycler==0.10.0
dataclasses==0.8
decorator==5.1.1
defusedxml==0.7.1
delayed==0.11.0b1
entrypoints==0.4
filelock==3.4.1
flake8==3.8.2
Flask==2.0.3
flatbuffers==1.12
gast==0.4.0
gensim==4.2.0
google-auth==1.14.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
hiredis==2.0.0
huggingface-hub==0.4.0
idna==2.9
imbalanced-learn==0.8.1
immutables==0.19
importlib-metadata==3.4.0
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.7.2
itsdangerous==2.0.1
jedi==0.17.0
Jinja2==3.0.3
jmespath==0.10.0
joblib==0.14.1
json5==0.9.10
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyter-server==1.13.1
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.1.1
Keras==2.3.1
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.2.1
MarkupSafe==2.0.1
matplotlib==3.2.1
mistune==0.8.4
nbclassic==0.3.5
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.6
nltk==3.6.7
notebook==6.4.10
numpy==1.19.5
oauthlib==3.1.0
opencv-contrib-python==4.2.0.34
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.1.5
pandocfilters==1.5.0
parso==0.7.0
pickleshare==0.7.5
Pillow==8.4.0
pluggy==0.13.1
prometheus-client==0.15.0
prompt-toolkit==3.0.36
protobuf==3.19.6
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.21
pydocstyle==5.0.2
pyflakes==2.2.0
Pygments==2.13.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyrsistent==0.18.0
pytest==6.2.2
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.33.0
pytz==2022.6
pywin32==305
pywinpty==1.1.6
PyYAML==5.3.1
pyzmq==24.0.1
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1654095878638/work
qtconsole==5.2.2
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1643828301492/work
redis==4.3.5
regex==2022.10.31
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
s3transfer==0.5.2
sacremoses==0.0.53
scikit-learn==0.24.2
scipy==1.4.1
seaborn==0.11.2
Send2Trash==1.8.0
sentencepiece==0.1.97
six==1.15.0
smart-open==6.3.0
sniffio==1.2.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.6.0
threadpoolctl==3.1.0
thundersvm @ file:///G:/P_R_O_J_E_C_T_S/PROJECTS-2021-2022/PYTHON-2023/CYBERBULLYING-DETECTION-ML/code/Training/thundersvm-cu10-0.2.0-py3-none-win_amd64.whl
tokenizers==0.10.3
toml==0.10.2
tornado==6.1
tqdm==4.64.1
traitlets==4.3.3
transformers==4.15.0
typing-extensions==3.7.4.3
urllib3==1.25.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.1
Werkzeug==2.0.3
widgetsnbextension==3.6.1
wincertstore==0.2
wordcloud==1.8.2.2
wrapt==1.12.1
yapf==0.30.0
zipp==3.4.0
